<div class='home_category'>
    <% class_name.each do |category| %>
        <div class='row'>
            <div class='col-md-12 category_title'>
                <h3><%= category.title %></h3>
                <%= link_to 'More', category_path(category), class: 'more_btn' %>
            </div>
        </div>
        <%= render 'static_pages/popular_item', name: category.title, objects: category.items.top_sale.take(6) %>
    <% end %>
</div>