<%= render 'layouts/side_bar' %>
<div class='newarrival_items_page'>
    <div class='col-md-10'>
        <h1 class='text-center'>
            New Arrival
        </h1>
        <div id='new_arrival_item_list'>
            <%= render 'static_pages/popular_list_item', items: @items %>
        </div>
        <div class='infinite-scrolling'>
            <%= paginate @items %>
        </div>
    </div>
</div>