/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require rails_bootstrap_forms
*/

header{
  background-color: rgb(148,148,148);
  
  .logo {
    float: left;
  }
  
  .logo_img {
    width: 30%;
    padding: 15px;
    
    &:hover {
      background-color: white;
    }
  }
  
  .nav.navbar-nav {
    float: right;
    
    .nav_gravatar {
      padding: 15px 0px;
      text-align: center;
    }
    
    img {
      width: 58%;
      height: 58%;
    }
    
    a {
      color: white;
      
      &:hover {
        color: black;
      }
    }
    
    .home,
    .help,
    .logout,
    .signin,
    .signup {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }
}



.user_showpage{
  .userinfo {
    text-align: center;
    margin-top: 20px;
    
    img {
      width: 20%;
      height: auto;
    }
    
    
  }
}

footer {
  background-color: rgb(148,148,148);
  position: absolute;
  bottom: 0px;
  width: 100%;
  
  .nav.navbar-nav {
    float: right;
    
    a {
      color: white;
      
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}