/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require rails_bootstrap_forms
*/

header{
  background-color: rgb(148,148,148);
  
  .logo {
    float: left;
  }
  
  .logo_img {
    width: 30%;
    padding: 15px;
    
    &:hover {
      background-color: white;
    }
  }
  
  .nav.navbar-nav {
    float: right;
    
    .nav_gravatar {
      padding: 15px 0px;
      text-align: center;
    }
    
    img {
      width: 58%;
      height: 58%;
    }
    
    a {
      color: white;
      
      &:hover {
        color: black;
      }
    }
    
    .home,
    .help,
    .logout,
    .signin,
    .signup {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }
}

main {
  margin: 15px 0;
}

footer {
  background-color: rgb(148,148,148);
  position: absolute;
  bottom: 0px;
  width: 100%;
  
  .nav.navbar-nav {
    float: right;
    
    a {
      color: white;
      
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.user_show_page {
  
  .user_info {
    margin-bottom: 15px;
  }
  
  .user_show_controllpanel {
    background-color: rgb(148,148,148);
    padding: 10px 40px;
    
    a {
      margin:10px 20px;
    }
  }
}

.row {
  width: 100%;
}

.control_product_list {
	left: 25%;
	background-color: rgb(148,148,148);
	border: black 2px solid;
  
  img {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-top: 50px;
    text-align: center;
  }

  .price,
  .quantity {
    display: inline-block;
    margin-right: 15px;
  }
}

.categories_control_index {
  
  .categories_list {
    margin: 20px 0;
  }

  .btn_area {
    width: 100px;
  }
  
  .btn_area {
    width: 330px;
  
    .btn {
      width: 100px;
    }
  }
}

.category_show_page {
  .category_info {
    th {
      width: 200px;
    }
    
  }
  
}