/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require rails_bootstrap_forms
*/

.header {
    .nav_area {
        float: right;
    }
    
    .dropdown-menu {
        margin-top: 0px;
        min-width: 115px;
        
    }
    
    .form-group {
        margin-bottom: 0px;
    }
    
    .dropdown:hover {
        .dropdown-menu {
            display: block;
        }
    }
    
    .dropdown-toggle:hover {
        background-color: rgb(240,30,30);
        color: white;
    }
}

.message {
    padding: 0 10px;
}

.navbar_area {
    .row {
        background-color: rgb(200,30,30);
        
        .checkout_btn {
            float: right;
            padding: 2px 10px;
        }
        
        .dropdown-toggle {
            color: white;
        }
        
        .dropdown:hover {
            
            
            .dropdown-toggle {
                background-color: rgb(240,30,30);
            }
            .dropdown-menu {
                margin-top: 0;
                display: block;
                min-width: 70px;
            }
        }
    }
}

.side_bar {
    .top_sale_list {
        .item_no {
            width: 5%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
}

.carousel-indicators {
    margin-bottom: -20px;
}

.carousel-caption {
    margin-bottom: -40px;
}

.home_main_content {
    .middle_advertising {
        margin-top: 10px;
        
        .mid_abel {
            border: 1px solid black;
            
            li a{
                border: 8px 15px;
            }
        }
        
        #new_arrival,
        #on_sale,
        #most_popular {
            border: 1px solid black;
            border-top: none;
            padding: 10px 15px;
        }
        
        #new_arrival_more,
        #on_sale_more,
        #new_arrival,
        #on_sale {
            display: none;
        }
        
        .more_btn {
            float: right;
            position: absolute;
            bottom: 0;
            right: 10px;
        }
        
    }
    
    .home_category {
        .category_title {
            border: 1px solid black;
            margin-top: 10px;
        }
        
        .popular_form {
            border: 1px solid black;
            border-top: none;
            padding: 10px 15px;
        }
        
        .more_btn {
            float: right;
            position: absolute;
            bottom: 0;
            right: 10px;
        }
    }
}

.item_show {
    margin-top: 10px;
    
    .btn_area {
        .btn {
            width: 130px;
            margin-bottom: 10px;
        }
    }
    
    .order_items_form {
        .form-control {
            width: 30%;
        }
    }
    
    
}

.popular_list_form {
    .item_area {
        border: 1px solid black;
        margin: 16px;
        
    }
}


.orders_list {
    .btn {
        width: 65px;
    }
}

.order_show {
    .order_items_list {
        .table_title,
        .table_price,
        .table_quantity,
        .table_total_price,
        .table_index {
            padding: 40px 0;
        }
    
    .table_index {
        width: 50px;
    }
    
    .table_quantity {
        width: 80px;
    }
    
    .btn_area {
        width: 70px;
    }
    
        .btn {
            width: 65px;
            margin-bottom: 8px;
        }
    }
}

.user_show_page {
    .user_info_area {
        margin: 10px 0;
    }
    
    .btn_area {
        a {
            width: 120px;
        }
    }
}