<div class='category_show'>
    <%= render 'layouts/side_bar' %>
    <div class='col-md-10 text-center'>
        <h1><%= @category.title %></h1>
        <div id='category_item_list'>
            <%= render 'items/item_list', items: @items %>
        </div>
        <div classd='infinite-scrolling'>
            <%= paginate @items %>
        </div>
    </div>
</div>