<div class='target_product_list'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h1>&lt<%= @user.username %>&gt's product list</h1>
        </div>
    </div>
    <%= render 'items/list' %>
</div>