<div class='target_order'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h1><%= @user.username %>'s Orders List</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            <table class="table table-bordered">
                <tr class='table_label text-center'>
                    <th class='text-center'>
                        <h5>No</h5>
                    </th>
                    <td>
                        <h5>Item #</h5>
                    </td>
                    <td>
                        <h5>Quantity #</h5>
                    </td>
                    <td>
                        <h5>Price #</h5>
                    </td>
                    <td>
                        <h5>Order Status</h5>
                    </td>
                    <td>
                        <h5>Buttons</h5>
                    </td>
                </tr>
                <%= render 'orders/orders_list', user: @user %>
            </table>
        </div>
    </div>
</div>