<div class='wish_list_index'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h1><%= @user.username %>'s Wish List</h1>
        </div>
    </div>
    <%= render 'wish_lists/wishes_list' %>
</div>