<div class='review_index'> 
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h2>&lt<%= @item.title %>&gt's review list</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center create_button'>
            <%= link_to 'Create review', new_item_review_path(@item), class: 'btn btn-info' %>
        </div>
    </div>
    <%= render 'reviews/reviews_list', item: @item %>
</div>