<div class='review_new'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-1 text-center'>
            <h2>Leave a Review</h2>
        </div>
    </div>
    <%= render 'form' %>
</div>