<li class='dropdown' role="presentation">
    <%= link_to object.name,'#', class: 'dropdown-toggle' %>
    <ul class='dropdown-menu'>
        <% object.all.each do |t| %>
        <li>
            <%= link_to t.title, category_path(t) %>
        </li>
        <% end %>
    </ul>
</li>
