<div class='container-fluid'>
    <div class='navbar_area'>
        <div class='row'>
            <div class='col-md-1'>
                <ul class='nav nav-pills'>
                    <%= render 'layouts/navbar_form', object: Category %>
                </ul>
            </div>
        </div>
    </div>
</div>

